{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 9999,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false,
  "proseWrap": "never"
}